.container {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  user-select: none;  
}

.container h2 {
  font-size: 1rem;
  font-weight: 100;
}

.container h3 {
  font-size: 0.8rem;
  font-weight: 100;
}
