.ui.grid.locker {
  height: 100%;
}

.ui.grid .ui.search > .results {
  width: 100%;
}

.web-view {
  width: 100%;
}

.web-view .web-view-navigation {
  width: 100%;
  display: inline-block;
  text-align: left;
}

.web-view .web-view-navigation button {
  width: 7%;
  float: left;
  margin: 0;
}

.ui.form .web-view .web-view-navigation input[type=url] {
  width: 93%;
  float: right;
}

.no-account-container {
  height: 100%;
}

.no-account {
  width: 100%;
  height: 100%;
}

.no-account .create-account-steps {
  width: 25%;
  float: left;
  padding: 2rem;
  border-right: 1px solid #d2d2db;
}

.no-account .create-account-steps ul {
  list-style: none; 
  padding: 0;
}

.no-account .create-account {
  width: 70%;
  float: left;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.no-account .create-account,
.no-account .create-account form,
.no-account .create-account-steps {
  height: 100%;
}

.no-account .create-account form>p {
  height: 8%;
  margin: 0;
  padding: 2rem 0 1rem 0;
}

.no-account .create-account form>div {
  height: 92%;
}

.no-account .create-account .web-view {
  height: 90%;
  padding-bottom: 1rem;
}

.no-account .create-account .center div.header {
  height: 10%;
}

.no-account .create-account .web-view .web-view-back {
  height: 9%;
  padding: 1rem 0;
  margin: 0;
}

.no-account .create-account .web-view .web-view-navigation {
  height: 5%;
}

.no-account .create-account .web-view .web-view-content {
  height: 86%;
  margin: 0;
}

.no-account .take-space {
  width: 5%;
  float: right;
}

.steps-container {
  padding-top: 4rem;
}

.steps-container .ui.list .item,
.steps-container .ui.list .item.visited,
.steps-container .ui.list .item.active {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; 
}

.steps-container .item,
.steps-container .ui.list>.item .content .header {
  color: lightgray;
}

.steps-container .visited,
.steps-container .ui.list>.item.visited .header {
  color: rgb(106,180,39);
}

.steps-container .active,
.steps-container .active div,
.steps-container .ui.list>.item.active .header {
  color: #1a8cff;
}