/* Tabs */
.ui.segment.tab {
    padding-left: 0;
    padding-right: 0;
}

/* Grid */
.ui.grid.inner {
    margin-left: 0;
    margin-right: 0;
}

.ui.grid>.row>.column.grid-container {
    padding-left: 0;
    padding-right: 0;
}

/* Segment */
.ui.horizontal.segments.wallet {
    width: 100%;
    min-height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

.ui.segments.wallet {
    margin: 0;
    height: 100%;
    width: 100%;
}

.ui.segments {
    border-radius: 0%;
}

.ui.segments.wallet > .ui.segments.menu > .ui.segment.no-border.account {
    margin: 1em;
}

.ui.segments.wallet > .ui.segments.menu > .ui.segment.no-border.action-menu {
    margin: 1em;
}

.ui.menu .active.item, .ui.vertical.menu .active.item {
    color: rgb(62, 141, 247) !important;
}

.ui.vertical.text.menu .item {
    margin: 1em !important;
    color: rgb(51, 51, 51);
}

.ui.segments.wallet > .ui.segments.menu {
    margin: 0;
    width: 21.5%;
    height: 100%;
}

.ui.segments.wallet > .ui.segments.context {
    width: 78%;
    margin: 0;
}

.ui.segments.context > .balance {
    height: 10%;
    margin: 0;
}

.ui.segments.context > .balance > div:first-child {
    border-bottom: 1px solid rgb(245, 245, 245); 
}

.ui.horizontal.segments.no-border,
.ui.segments.no-border,
.ui.segment.no-border {
    border: none;
    box-shadow: none;
}

.ui.segments.wallet .segments.no-padding,
.ui.segments.wallet .segments.no-padding,
.ui.segments.wallet .segments.no-padding >.segment+.segments {
    padding: 0;
}

.arrow.alternate.circle.up.icon,
.arrow.alternate.circle.down.icon {
    margin: 0;
}

.history {
    height: 100%;
}

.history .header {
    height: 15%;
    padding: 0 1rem;
}

.history .content {
    height: 85%;
}

.history-container {
    height: 500px;
}

.producers-list {
    height: 500px;
}

.producers-list .checkbox {
    float: left;
    margin-right: 10px;
}

.scrollable {
    overflow: hidden;
    height: 100%;
}

.scrollable:hover {
    overflow-y: overlay;
}

.history::-webkit-scrollbar {
    width: 5px;
}

.history::-webkit-scrollbar-track {
    border-radius: 5px;
}

#scrollable-history {
    overflow: hidden;
    height: 100%;
}

#scrollable-history:hover {
    overflow-y: overlay;
}

.scrollable::-webkit-scrollbar,
#scrollable-history::-webkit-scrollbar {
    width: 10px;
}

.scrollable::-webkit-scrollbar,
#scrollable-history::-webkit-scrollbar-track {
    border-radius: 5px;
}

/* New design */

.fairy-container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.fairy-container .column {
    height: 100%;
    position: relative;
}

.fairy-container .column.left {
    width: 20%;
    float: left;
}

.fairy-container .column.middle {
    width: 60%;
    float: left;
}

.fairy-container .column.middle .main-window {
    padding: 0 1rem;
    height: 100%;
}

.fairy-container .column.right {
    width: 20%;
    float: right;
}

.fairy-container .column.separator-left {
    border-left: 1px solid #d2d2db;
}

.fairy-container .column.separator-right {
    border-right: 1px solid #d2d2db;
}

.fairy-container .column.separator-none {
    border: none;
}

.fairy-container .column .header {
    height: 20%;
}

.fairy-container .column .body {
    height: 80%;
}

.fairy-container .column > div {
    padding: 1rem 1rem;
}

.fairy-container .column > div .vote-checkbox {
    padding: 0 1rem;
}

.fairy-container .column .header.underlined {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), 0 2px 0 rgba(0, 0, 0, 0.05), 0 3px 0 rgba(0, 0, 0, 0.025);
}

.fairy-container .column .fairy-menu {
    height: 100%;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
}

.fairy-container .column .fairy-menu > div {
    display: inline-block;
}

.fairy-container .column .fairy-menu .separator {
    width: 4rem;
}

.fairy-container .column .fairy-menu .menu-item {
    width: auto;
    height: 100%;
}

.fairy-container .column .fairy-menu .menu-item.account {
    width: 65%;
}

.fairy-container .column .fairy-menu .menu-item.public-key {
    width: 35%;
}

.fairy-container .column .data-block {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.fairy-container .column .data-block .data {
    height: 35%;
}

.fairy-container .column .data-block .description {
    height: 65%;
}

.fairy-container .utility-chart {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.fairy-container .utility-chart li {
    width: 100%;
    height: auto;
}

.fairy-container .utility-chart li div {
    padding: 0 0.1rem;
    display: inline-block;
}

.fairy-container .utility-chart li div svg {
    width: 100%;
}

.fairy-container .utility-chart li div:nth-child(1) {
    min-width: 15%;
}

.fairy-container .utility-chart li div:nth-child(2) {
    width: 70%;
}

.fairy-container .utility-chart li div:nth-child(3) {
    width: 15%;
}

.fairy-container .column .header-container {
    padding: 0 1rem;
}

.scrolling-table {
    width: 100%;
    height: 100%;
}

.scrolling-table > div {
    margin: 0 1rem;
}

.scrolling-table .scrolling-table-header {
    height: 10%;
}

.scrolling-table .scrolling-table-header.underline {
    border-bottom: 1px solid #d2d2db;
}

.scrolling-table .scrolling-table-body {
    height: 90% !important;
}

.scrolling-table .scrolling-table-body .scrolling-table-content:hover {
    overflow-y: overlay;
}

.scrolling-table .scrolling-table-body .scrolling-table-content {
    height: 100%;
    overflow: hidden;
}

.main-container {
    height: 100%;
    width: 100%;
}

.main-container .main-container-header {
    height: 12%;
    padding: 0 1rem;
}

.main-container .main-container-content {
    height: 88%;
}

.no-side-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.side-padding {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.main-container.adjust-content .main-container-content {
    padding: 0.7rem 0;
}

.main-container.adjust-top-margin .main-container-content {
    margin-top: 1.8rem;
}

.main-container .main-container-content .stake {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
}

.main-container .main-container-content .stake .stake-form {
    width: 50%;
    height: 100%;
    float: left;
}

.main-container .main-container-content .stake .stake-delegation-table {
    width: 50%;
    height: 100%;
    float: right;
    margin-top: -0.6rem;
}

.main-container .main-container-content .ram {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
}

.main-container .main-container-content .ram .buy-ram {
    width: 50%;
    height: 100%;
    float: left;
    padding-right: 1rem;
}

.main-container .main-container-content .ram .sell-ram {
    width: 50%;
    height: 100%;
    float: right;
    /* padding-left: 1rem; */
}

.scrolling-table.vote::-webkit-scrollbar {
    width: 5px !important;
} 

.scrolling-table.vote .scrolling-table-header .voting-header {
    width: 100%;
    height: 100%;
} 

.scrolling-table.vote .scrolling-table-header .voting-header div {
    display: inline-block;
}

.scrolling-table.vote .scrolling-table-header .voting-header .votes {
    width: 15%;
} 

.scrolling-table.vote .scrolling-table-header .voting-header .filter {
    width: 25%;
} 

.scrolling-table.vote .scrolling-table-header .voting-header .filter a {
   display: inline-block;
   margin: 1rem 0;
} 

.scrolling-table.vote .scrolling-table-header .voting-header .search-producer {
    width: 30%;
} 

.scrolling-table.vote .scrolling-table-header .voting-header .vote-button {
    width: 30%;
} 

.scrolling-table.vote .scrolling-table-header{
    height: 5%
} 

.scrolling-table.vote .scrolling-table-body{
    height: 95%
} 

.public-key-confirm-modal {
    width: 100%;
    text-align: center;
}

.ui.form .public-key-confirm-modal button,
.ui.modal .content .public-key-confirm-modal button {
    display: inline-block;
    width: 25%;
    margin: 0 1rem;
}