/* Tabs */
.ui.segment.tab {
    padding-left: 0;
    padding-right: 0;
}

/* Grid */
.ui.grid.inner {
    margin-left: 0;
    margin-right: 0;
}

.ui.grid>.row>.column.grid-container {
    padding-left: 0;
    padding-right: 0;
}

/* Segment */
.ui.horizontal.segments.wallet {
    width: 100%;
    min-height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

.ui.segments.wallet {
    margin: 0;
    height: 100%;
    width: 100%;
}

.ui.segments {
    border-radius: 0%;
}

.ui.segments.wallet > .ui.segments.menu > .ui.segment.no-border.account {
    margin: 1em;
}

.ui.segments.wallet > .ui.segments.menu > .ui.segment.no-border.action-menu {
    margin: 1em;
}

.ui.menu .active.item, .ui.vertical.menu .active.item {
    color: rgb(62, 141, 247) !important;
}

.ui.vertical.text.menu .item {
    margin: 1em !important;
    color: rgb(51, 51, 51);
}

.ui.segments.wallet > .ui.segments.menu {
    margin: 0;
    width: 21.5%;
    height: 100%;
}

.ui.segments.wallet > .ui.segments.context {
    width: 78%;
    margin: 0;
}

.ui.segments.context > .balance {
    height: 10%;
    border-bottom: 1px;
    margin: 0;
}

.ui.segments.no-border,
.ui.segment.no-border {
    border: none;
    box-shadow: none;
}

/*.ui.segments.wallet .segments.no-padding,*/
.ui.segments.wallet .segments.no-padding,
.ui.segments.wallet .segments.no-padding >.segment+.segments {
    padding: 0;
}

.arrow.alternate.circle.up.icon,
.arrow.alternate.circle.down.icon {
    margin: 0;
}

.history {
    height: 600px;
}

.producers-list {
    height: 500px;
}

.producers-list .checkbox {
    float: left;
    margin-right: 10px;
}

.scrollable {
    overflow: hidden;
    height: 100%;
}

.scrollable:hover {
    overflow-y: overlay;
}

.history::-webkit-scrollbar {
    width: 5px;
}

.history::-webkit-scrollbar-track {
    border-radius: 5px;
}

#scrollable-history {
    overflow: hidden;
    height: 100%;
}

#scrollable-history:hover {
    overflow-y: overlay;
}

.scrollable::-webkit-scrollbar,
#scrollable-history::-webkit-scrollbar {
    width: 5px;
}

.scrollable::-webkit-scrollbar,
#scrollable-history::-webkit-scrollbar-track {
    border-radius: 5px;
}