/* Tabs */
.ui.segment.tab {
    padding-left: 0;
    padding-right: 0;
}

/* Grid */
.ui.grid.inner {
    margin-left: 0;
    margin-right: 0;
}

.ui.grid>.row>.column.grid-container {
    padding-left: 0;
    padding-right: 0;
}

/* Segment */
.ui.horizontal.segments.wallet {
    width: 100%;
    min-height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
}

.ui.segments.wallet {
    margin: 0;
}

.ui.segments.wallet > .balance {
    width: 45%;
    padding-top: 15px;
}

.ui.segments.wallet > .actions {
    width: 55%;
    padding-top: 28px;
}

.ui.basic.button.no-border,
.ui.basic.button.no-border:hover,
.ui.basic.button.no-border:visited,
.ui.basic.button.no-border:link,
.ui.basic.button.no-border:active,
.ui.basic.button.no-border:focus,
.ui.segment.no-border,
.ui.segments.wallet .segments.no-border,
.ui.segments.wallet .segments.no-border >.segment,
.ui.segments.wallet .segments.no-border >.segment+.segments,
.ui.segments.wallet .segments.no-border >.segment+.segments>.segment{
    border: none;
    box-shadow: none;
}

/*.ui.segments.wallet .segments.no-padding,*/
.ui.segments.wallet .segments.no-padding,
.ui.segments.wallet .segments.no-padding >.segment+.segments {
    padding: 0;
}

.arrow.alternate.circle.up.icon,
.arrow.alternate.circle.down.icon {
    margin: 0;
}

.history {
    height: 670px;
}

.producers-list {
    height: 530px;
}

.producers-list .checkbox {
    float: left;
    margin-right: 10px;
}

.scrollable {
    overflow: hidden;
    height: 100%;
}

.scrollable:hover {
    overflow-y: overlay;
}

.history::-webkit-scrollbar {
    width: 5px;
}

.history::-webkit-scrollbar-track {
    border-radius: 5px;
}

#scrollable-history {
    overflow: hidden;
    height: 100%;
}

#scrollable-history:hover {
    overflow-y: overlay;
}

.scrollable::-webkit-scrollbar,
#scrollable-history::-webkit-scrollbar {
    width: 5px;
}

.scrollable::-webkit-scrollbar,
#scrollable-history::-webkit-scrollbar-track {
    border-radius: 5px;
}