/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~semantic-ui-css/semantic.min.css';

html, body {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   overflow: hidden;
   font-family: 'Segoe UI', Helvetica;
}

body::after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../resources/background/background.svg');
    width: 100%;
    height: 100%;
    opacity : 0.05;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: bottom right;
}

#root {
    height: 100%;
    width: 100%;
}

body {
    -ms-overflow-style: scrollbar;
    -webkit-app-region:drag;
}

body.dark-mode,
body.dark-mode .ui.table,
body.dark-mode .ui.search>.results,
body.dark-mode .ui.modal,
body.dark-mode .ui.modal>div,
body.dark-mode .ui.modal>.content,
body.dark-mode .ui.modal>.actions {
    background: rgb(39, 49, 54);
    color: rgb(195,195,195);
}

body.dark-mode .ui.selection.dropdown,
body.dark-mode .ui.segment,
body.dark-mode .ui.search>.results,
body.dark-mode .ui.search>.results .result:hover,
body.dark-mode .ui.dropdown .menu > .item,
body.dark-mode .ui.dropdown .menu::after,
body.dark-mode .ui.basic.button.dropdown,
body.dark-mode .ui.selection.active.dropdown .menu,
body.dark-mode .ui.form input[type="text"],
body.dark-mode .ui.form input[type="number"],
body.dark-mode .ui.form input[type="radio"] {
    background-color: rgb(58,68,73);
}

body.dark-mode .ui.checkbox input~.box:before, 
body.dark-mode .ui.checkbox input~label:before,
body.dark-mode .ui.checkbox input:checked~.box:before, 
body.dark-mode .ui.checkbox input:checked~label:before,
body.dark-mode .ui.radio.checkbox input~.box:before, 
body.dark-mode .ui.radio.checkbox input~label:before,
body.dark-mode .ui.radio.checkbox input:checked~.box:before, 
body.dark-mode .ui.radio.checkbox input:checked~label:before {
    background-color: rgb(58,68,73);
    border: 1px solid rgba(255,237,113,0.5);
}

body.dark-mode .ui.checkbox input:checked~.box:after, 
body.dark-mode .ui.checkbox input:checked~label:after, 
body.dark-mode .ui.form .field > label {
    color: rgba(255,237,113,0.8);
}


body.dark-mode .ui.radio.checkbox input:checked~.box:after, 
body.dark-mode .ui.radio.checkbox input:checked~label:after {
    background-color: rgba(255,237,113,0.8);
}

body.dark-mode .ui.basic.button.dropdown,
body.dark-mode .ui.selection.dropdown,
body.dark-mode .ui.selection.active.dropdown .menu,
body.dark-mode .ui.selection.visible.dropdown>.text:not(.default),
body.dark-mode .ui.basic.button.dropdown>.text {
    background-color: rgb(58,68,73) !important;
    color: rgb(195,195,195) !important;
}

body.dark-mode .ui.basic.button.dropdown,
body.dark-mode .ui.selection.dropdown,
body.dark-mode .ui.selection.active.dropdown,
body.dark-mode .ui.floating.dropdown .menu,
body.dark-mode .ui.search>.results,
body.dark-mode .ui.form input[type="text"],
body.dark-mode .ui.form input[type="number"],
body.dark-mode .ui.form input[type="radio"] {
    color: rgb(195,195,195);
    border: 1px solid rgba(255,237,113,0.5);
}

body.dark-mode .ui.search>.results .result,
body.dark-mode .ui.selection.dropdown .menu>.item {
    border: none;
}

body.dark-mode .ui.basic.button.dropdown:focus,
body.dark-mode .ui.selection.dropdown:focus,
body.dark-mode .ui.selection.active.dropdown .menu,
body.dark-mode .ui.selection.active.dropdown:hover,
body.dark-mode .ui.selection.active.dropdown:hover .menu,
body.dark-mode .ui.form input[type="text"]:focus,
body.dark-mode .ui.form input[type="number"]:focus,
body.dark-mode .ui.form input[type="radio"]:focus {
    border: 1px solid rgba(255,237,113,0.9) !important;
}

body.dark-mode .ui.dropdown .menu,
body.dark-mode .no-background,
body.dark-mode .ui.segment.no-background {
    background: transparent;
}

body.dark-mode .fairy-container .column.left .fairy-menu .data-block .data .ui.basic.button {
    background: rgb(39, 49, 54)!important;
    color: rgb(195,195,195)!important;
    border: 1px solid rgb(79,90,94);
}

body.dark-mode .column.middle {
    background-color: rgb(39, 49, 54);
}

body.dark-mode .fairy-container .column.middle .ui.list div.item.active:hover {
    background: transparent !important;
}

body.dark-mode .fairy-container .column.middle .ui.list .item.active {
    background-color: rgba(58,68,73,0.5);
}

body.dark-mode .ui.menu .active.item, 
body.dark-mode .ui.dropdown .menu .selected.item,
body.dark-mode .ui.vertical.menu .active.item,
body.dark-mode .fairy-container .column.middle .ui.list .item.active div {
    color: rgb(255,237,113) !important;
}

body.dark-mode p,
body.dark-mode p.subtitle,
body.dark-mode .ui.header .content div,
body.dark-mode .ui.item.menu .item,
body.dark-mode .ui.checkbox label,
body.dark-mode .ui.form .fields > label, 
body.dark-mode .ui.form .field > label,
body.dark-mode .ui.form .field div {
    color: rgb(195,195,195);
}

body.dark-mode p.title,
body.dark-mode p.tableheadertitle,
body.dark-mode .ui.form .ui.divider h5 {
    color: rgb(148,160,161);
}

body.dark-mode .ui.basic.button:hover, 
body.dark-mode .ui.dropdown .menu>.item:hover:hover,
body.dark-mode .ui.basic.buttons .button:hover {
    background: rgb(39, 49, 54);
    color: white;
}

body.dark-mode .ui.top.left.pointing.dropdown>.menu {
    background: rgb(58,68,73);
}

body.dark-mode .ui.basic.button, 
body.dark-mode .ui.basic.buttons .button,
body.dark-mode .ui.basic.button:focus, 
body.dark-mode .ui.basic.buttons .button:focus  {
    color: rgb(39, 49, 54);
}

body.dark-mode .ui.divided.list>.item {
    border-top: 1px solid rgb(79,90,94);
}

body.dark-mode .fairy-container .column.separator-right {
    border-right: 1px solid rgb(79,90,94);
}

body.dark-mode .scrolling-table .scrolling-table-header.underline {
    border-bottom: 1px solid rgb(79,90,94);
}

body.dark-mode .fairy-container .column .header.underlined {
    border-bottom: 1px solid rgb(79,90,94);
    box-shadow: 0 1px 0 rgba(79,90,94,0.65), 0 2px 0 rgba(79,90,94, 0.05), 0 3px 0 rgba(79,90,94, 0.075);
}

body.dark-mode .ui.divided.list>.item:first-child {
    border-top: none;
}

body.dark-mode .ui.list,
body.dark-mode .ui.list div,
body.dark-mode .ui.list > a.item i.icon,
body.dark-mode .ui.list > a .description {
    /* background: rgb(58,68,73); */
    color: rgb(195,195,195);
}

body.dark-mode .ui.list>a.item:hover .icon, 
body.dark-mode .ui.list>a.item:hover .description {
    color: white;
}

body.dark-mode .fairy-container .column.left,
body.dark-mode .fairy-container .column.left div,
body.dark-mode .fairy-container .column.left .ui.vertical.text.menu .item {
    background: rgb(29,37,40);
    color: rgb(195,195,195);
}

body.dark-mode .ui.basic.label.history-action.voteproducer {
    color: rgb(195,195,195) !important;
    border-color: rgb(195,195,195);
    background-color: rgba(241,158,41,0.5);
}

body.dark-mode .ui.basic.label.history-action.transfer.send {
    color: rgb(195,195,195) !important;
    border-color: rgb(195,195,195);
    background-color: rgba(207,44,64,0.5);
}

body.dark-mode .ui.basic.label.history-action.dice {
    color: rgb(195,195,195) !important;
    border-color: rgb(195,195,195);
    background-color: rgba(42, 149, 182, 0.5);
}

body.dark-mode .ui.basic.label.history-action.transfer.receive {
    color: rgb(195,195,195) !important;
    border-color: rgb(195,195,195);
    background-color: rgba(108,182,42,0.5);
}

body.dark-mode .ui.basic.label.history-action.delegatebw,
body.dark-mode .ui.basic.label.history-action.undelegatebw,
body.dark-mode .ui.basic.label.history-action.sellram,
body.dark-mode .ui.basic.label.history-action.buyram,
body.dark-mode .ui.basic.label.history-action.buyrambytes {
    color: rgb(195,195,195) !important;
    border-color: rgb(195,195,195);
    background-color: rgba(68,91,200,0.5);
}

body.dark-mode i.airdrop-token-add {
    color: rgba(255,237,113,0.5);
}

body.dark-mode .ui.button {
    background-color: rgba(255,237,113,0.5);
    opacity: 0.9;
    color: rgb(195,195,195);
    text-transform: uppercase;
    font-weight: lighter;
}

body.dark-mode .ui.button:focus,
body.dark-mode .ui.button:hover {
    background-color: rgba(255,237,113,0.5);;
    opacity: 1;
    color: rgb(195,195,195);
}

body.dark-mode .ui.selection.list>.item:hover {
    background: rgba(58,68,73,0.5) !important;
}

body.dark-mode .verify-content {
    background: rgb(58,68,73);
}

body.dark-mode .dashed-border, 
body.dark-mode p.public-key {   
    background: rgb(40, 47, 51);
    border-color: rgba(204, 204, 204, 0.6);
} 

body.dark-mode .ui.very.basic.table.verify-content {
    background: rgba(58,68,73,0.5);
}

body.dark-mode .producer-list>div,
body.dark-mode .producer-list>div>div {
    color: rgb(195,195,195);
}

body.dark-mode .ui.basic.table tbody tr {
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);

}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
input[type="range"],
input[type="number"],
button,
textarea{
	-webkit-app-region: no-drag;
}

.ui.segments {
    border-radius: 0%;
    border-color: #d2d2db;
    box-shadow: none;   
}

div {
    color: rgb(51, 51, 51);
    font-size: 1em;  
    font-weight: normal;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=radio]:focus {
    border-color: #1a8cff !important;
}

.field.invalid 
input {
    border-color: #ec778c !important;
}

.field.invalid > label {
    color: #ec778c !important;
}

.ui.button {
    background: #1a8cff;
    opacity: 0.9;
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
}

.ui.button:focus,
.ui.button:hover {
    background: #1a8cff;
    opacity: 1;
    color: white;
}

.ui.selection.list>.item:hover {
    background: rgba(26, 140, 255, 0.1) !important;
}

.ui.selection.list>.item.active .button,
.ui.selection.list>.item.active {
    background: rgba(26, 140, 255, 0.6);
}
.ui.selection.list>.item.active:hover {
    background: rgba(26, 140, 255, 0.9) !important;
}
.ui.selection.list>.item.active div {
    color: rgba(255, 255, 255, 0.9);
}

p.title {
    font-size: 22px;
    margin-bottom: 0pc;
    font-weight: 100;
    text-transform: capitalize;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(30, 30, 30, 1);
}

.ui.checkbox input:checked~.box:after, .ui.checkbox input:checked~label:after,
.ui.form .field > label {
    color: rgb(51, 51, 51);
}

p.subtitle {
    margin-top: 0.5em;
    color: rgba(51, 51, 51, 0.6);
    font-weight: normal;
    font-size: 14px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.dashed-border,
p.public-key {
    padding: 1rem;
    border-width: 1px;
    border-style: dashed;
    border-color: rgba(51, 51, 51, 0.6);
    background-color: white;
}

span.public-key {
    padding: 0.3rem;
    border-width: 1px;
    border-style: dashed;
    border-color: rgba(51, 51, 51, 0.6);
    background-color: white;
}

.ui.very.basic.table.verify-content {
    border-radius: 0;
    padding: 1rem;
    background-color: rgb(247, 247, 247);
}

.verify-content {
    padding: 1rem;
    background-color: rgb(247, 247, 247);
}

.ui.form .fields > label,
.ui.form .field > label {
    font-weight: normal !important;
}

.ui.grid.tableheader .row {
    margin-bottom: 0em; 
    padding-bottom: 0px;
}

p.tableheadertitle {
    margin-top: 12px;
    color: #333333;
    text-transform: uppercase;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.ui.basic.label,
.publickeycontainer .label,
.ui.table thead th.token-header {
    font-weight: lighter;
}

.accordion.ui.remove-my-icons .title .dropdown.icon {
    display: none;
}

/* Segment */
.ui.segment.no-border {
    border: none;
    box-shadow: none;
}

.ui.segment.no-padding {
    padding: 0;
}

.ui.segment.no-background {
    background: transparent;
    height: 100%; 
}

.no-top-bottom-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.public-key-modality {
    text-align: center !important;
    width: 560px !important;
}