/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~semantic-ui-css/semantic.min.css';

html, body {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   overflow: hidden;
   font-family: 'Helvetica Neue', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body::after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../resources/background/background.svg');
    width: 100%;
    height: 100%;
    opacity : 0.05;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: bottom right;
}

#root {
    height: 100%;
    width: 100%;
}

body {
    -ms-overflow-style: scrollbar;
    -webkit-app-region:drag;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
input[type="range"],
input[type="number"],
button,
textarea{
	-webkit-app-region: no-drag;
}

.ui.segments {
    border-radius: 0%;
    border-color: rgb(245, 245, 245);
    box-shadow: none;   
}

div {
    color: rgb(51, 51, 51);
    font-size: 1em;  
    font-weight: normal;
}

input[type=text]:focus {
    border-color: rgb(23, 124, 255) !important;
}

.ui.button {
    background: rgb(62, 141, 247);
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
}

.ui.button:hover {
    background: rgb(23, 124, 255);
    color: white;
}

h5,
.ui.form {
    color: rgb(51, 51, 51);
}

p.title {
    font-size: 1.6em;
    color: rgb(30, 30, 30);
    margin-bottom: 0pc;
    font-weight: lighter;
    text-transform: uppercase;
}

.ui.form .field > label,
p.subtitle {
    margin-top: 0.5em;
    color: rgb(51, 51, 51);
}

.ui.form .field > label {
    font-weight: normal;
}

.ui.grid.tableheader .row {
    margin-bottom: 0em; 
    padding-bottom: 0px;
}

p.tableheadertitle {
    margin-top: 0.3em;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
}

.ui.basic.label {
    color: rgba(0,0,0,.6);
}

.ui.basic.label,
.publickeycontainer .label,
.ui.table thead th.token-header {
    font-weight: lighter;
}

.accordion.ui.remove-my-icons .title .dropdown.icon {
    display: none;
}

/* Segment */
.ui.segment.no-border {
    border: none;
    box-shadow: none;
}

.ui.segment.no-padding {
    padding: 0;
}

.ui.segment.no-background {
    background: transparent;
    height: 100%; 
}