/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~semantic-ui-css/semantic.min.css';

html, body {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   overflow: hidden;
   font-family: 'Segoe UI', Helvetica;
}

body::after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../resources/background/background.svg');
    width: 100%;
    height: 100%;
    opacity : 0.05;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: bottom right;
}

#root {
    height: 100%;
    width: 100%;
}

body {
    -ms-overflow-style: scrollbar;
    -webkit-app-region:drag;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
input[type="range"],
input[type="number"],
button,
textarea{
	-webkit-app-region: no-drag;
}

.ui.segments {
    border-radius: 0%;
    border-color: #d2d2db;
    box-shadow: none;   
}

div {
    color: rgb(51, 51, 51);
    font-size: 1em;  
    font-weight: normal;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=radio]:focus {
    border-color: #1a8cff !important;
}

.field.invalid 
input {
    border-color: #ec778c !important;
}

.field.invalid > label {
    color: #ec778c !important;
}

.ui.button {
    background: #1a8cff;
    opacity: 0.9;
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
}

.ui.button:focus,
.ui.button:hover {
    background: #1a8cff;
    opacity: 1;
    color: white;
}

.ui.selection.list>.item:hover {
    background: rgba(26, 140, 255, 0.1) !important;
}

.ui.selection.list>.item.active .button,
.ui.selection.list>.item.active {
    background: rgba(26, 140, 255, 0.6);
}
.ui.selection.list>.item.active:hover {
    background: rgba(26, 140, 255, 0.9) !important;
}
.ui.selection.list>.item.active div {
    color: rgba(255, 255, 255, 0.9);
}

p.title {
    font-size: 22px;
    margin-bottom: 0pc;
    font-weight: 100;
    text-transform: capitalize;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(30, 30, 30, 1);
}

.ui.checkbox input:checked~.box:after, .ui.checkbox input:checked~label:after,
.ui.form .field > label {
    color: rgb(51, 51, 51);
}

p.subtitle {
    margin-top: 0.5em;
    color: rgba(51, 51, 51, 0.6);
    font-weight: normal;
    font-size: 14px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.dashed-border,
p.public-key {
    padding: 1rem;
    border-width: 1px;
    border-style: dashed;
    border-color: rgba(51, 51, 51, 0.6);
    background-color: white;
}

span.public-key {
    padding: 0.3rem;
    border-width: 1px;
    border-style: dashed;
    border-color: rgba(51, 51, 51, 0.6);
    background-color: white;
}

.ui.very.basic.table.verify-content {
    border-radius: 0;
    padding: 1rem;
    background-color: rgb(247, 247, 247);
}

.verify-content {
    padding: 1rem;
    background-color: rgb(247, 247, 247);
}

.ui.form .fields > label,
.ui.form .field > label {
    font-weight: normal !important;
}

.ui.grid.tableheader .row {
    margin-bottom: 0em; 
    padding-bottom: 0px;
}

p.tableheadertitle {
    margin-top: 12px;
    color: #333333;
    text-transform: uppercase;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.ui.basic.label,
.publickeycontainer .label,
.ui.table thead th.token-header {
    font-weight: lighter;
}

.accordion.ui.remove-my-icons .title .dropdown.icon {
    display: none;
}

/* Segment */
.ui.segment.no-border {
    border: none;
    box-shadow: none;
}

.ui.segment.no-padding {
    padding: 0;
}

.ui.segment.no-background {
    background: transparent;
    height: 100%; 
}

.no-top-bottom-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.public-key-modality {
    text-align: center !important;
    width: 560px !important;
}